.nav {
    width: 100%;
    height: 50px;
    background-color: grey;
    color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: whitesmoke;
}

.nav a:hover {
    border: 10px;
    border-radius: 50%;
    background-color: darkgrey;
}

@media all and (max-width: 800px) {
    .nav {
      justify-content: space-around;
    }
  }
  
@media all and (max-width: 600px) {
.nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
}

.nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    }

    
    .nav li:last-of-type a {
    border-bottom: none;
    }
}  