/* everything */
/* Queue container */
.queue {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-evenly;
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Environments inside of the Queue container*/
.environment {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(53, 29, 53, 0.589);
    border-radius: 30px;
    height: 90vh;
    display: grid;
    align-content: start;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: space-evenly;
}
/* Queue items inside each environment */
/* .item {
    
} */