.queueItem {
  width: 90%;
  background-color: beige;
  border: 1px solid gray;
  color: royalblue;
  border-radius: 30px;
  min-height: 20px;
  max-height: 50px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.queueItemInfo {
  padding: 1px;
}